<%= render "shared/second-header"%>
<h2 class=register-title>会員情報を登録する</h2>

<%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
  <%= render "devise/shared/error_messages", resource: resource %>

<div class="registration-form">
  <div class="field">
    <div class="field-title">
      <label class="field-text">◆お名前（姓）◆</label>
    </div>
    <%= f.text_field :first_name, id:"first_name" ,placeholder: "山田" %>
  </div>

  <div class="field">
    <div class="field-title">
      <label class="field-text">◆お名前（名）◆</label>
    </div>
    <%= f.text_field :last_name, id:"last_name" ,placeholder: "太郎" %>
  </div>

    <div class="field">
    <div class="field-title">
      <label class="field-text">◆ニックネーム◆</label>
    </div>
    <%= f.text_field :nickname, id:"nickname" ,placeholder: "golf太郎" %>
  </div>

  <div class="field">
    <div class="field-title">
      <label class="field-text">◆メールアドレス◆</label>
    </div>
    <%= f.email_field :email, autofocus: true, autocomplete: "email" %>
  </div>

  <div class="field">
    <div class="field-title">
      <label class="field-text">◆パスワード（半角6文字以上）◆</label>
    </div>
    <%= f.password_field :password, autocomplete: "new-password" %>
  </div>

  <div class="field">
    <div class="field-title">
      <label class="field-text">◆パスワード（確認用）◆</label>
    </div>
    <%= f.password_field :password_confirmation, autocomplete: "new-password" %>
  </div>

  <div class="field">
    <div class="field-title">
      <label class="field-text">◆お誕生日◆</label>
    </div>
    <div class='input-birth-wrap'>
      <%= raw sprintf(
                  f.date_select(
                    :birthday,
                    class:'select-birth',
                    id:"birth-date",
                    use_month_numbers: true,
                    prompt:'--',
                    start_year: 1930,
                    end_year: (Time.now.year - 5),
                    date_separator: '%s'),
                  "<p> 年 </p>", "<p> 月 </p>") + "<p> 日 </p>" %>
   </div>
  </div>

  <div class="field">
    <div class="field-title">
      <label class="field-text">◆電話番号◆</label>
    </div>
    <%= f.text_field :phone_number, id:"phone_number" ,placeholder: "09000000000" %>
  </div>

  <div class="field">
    <div class="field-title">
      <label class="field-text">◆郵便番号◆</label>
    </div>
    <%= f.text_field :postcode, autocomplete: 'postcode', class: 'form-control' %>
  </div>

  <div class="field">
    <div class="field-title">
      <label class="field-text">◆都道府県（自動入力・変更不要）◆</label>
    </div>
    <%= f.collection_select :prefecture_code, JpPrefecture::Prefecture.all, :code, :name, { prompt: '選択してください' }, class: 'form-control' %>
  </div>

  <div class="field">
    <div class="field-title">
      <label class="field-text">◆市区町村（自動入力・変更不要）◆</label>
    </div>
    <%= f.text_field :address_city, autocomplete: 'address_city', class: 'form-control'%>
  </div>

  <div class="field">
    <div class="field-title">
      <label class="field-text">◆所在地詳細（自動入力・変更不要）◆</label>
    </div>
    <%= f.text_field :address_street, autocomplete: 'address_street', class: 'form-control' %>
  </div>

  </div>

  <div class="registration-btn">
    <button type="submit" class="registration-do-jump">
    <%= image_tag("bol_registration.png") %>
    </button>
  </div>
<% end %>

<%= render "shared/footer"%>
