<header>
   <div class="user_nav">
    <%= link_to image_tag("logo.png", class:"bol-icon"), root_path %>
      <div class="catch-copy">
        <h1 class="copy1">みんなで作るゴルフクラブの</h1>
        <h1 class="copy2">            レンタルコミュニティ</h1>
      </div>
      <div class="header__bar">
        <% if user_signed_in? %>
          <span class="user-nickname"><%= current_user.nickname %></span><span class="sub-text">でログイン中<span>
            <ul class="lists-right">
              <li>
                <%= link_to "メッセージ", root_path,class:"left-item" %>
                <%= link_to "ログアウト", destroy_user_session_path, method: :delete,class:"right-item" %>
              </li>
            </ul>
          </div>
         <% else %>
            <%= link_to "ログイン", new_user_session_path, class: "left-item" %>
            <%= link_to "新規登録", new_user_registration_path, class: "right-item" %>
         <% end %>
      </div>
</header>