<%= render "shared/second-header"%>
<h2 class=register-title>ログイン</h2>

<%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
  <%= render "devise/shared/error_messages", resource: resource %>

<div class="registration-form">
  <div class="field">
    <div class="field-title">
      <label class="field-text">◆メールアドレス◆</label>
    </div>
    <%= f.email_field :email, autofocus: true, autocomplete: "email" %>
  </div>

  <div class="field">
    <div class="field-title">
      <label class="field-text">◆パスワード◆</label>
    </div>
    <%= f.password_field :password, autocomplete: "new-password" %>
  </div>

  <div class="field">
    <div class="field-title">
    アカウントをお持ちでない方は <%= link_to "新規登録", new_user_registration_path, class:"to-regi-jmp" %> へ
    </div>
  </div>
  
  </div>

  <div class="registration-btn">
    <button type="submit" class="registration-do-jump">
    <%= image_tag("bol_session.png") %>
    </button>
  </div>



<% end %>

<%= render "shared/footer"%>

