<%= render "shared/header" %>
<div class='main'>

  <div class='title-contents'>
    <h2 class='service-title'>
      ―ゴルフクラブはリユースの時代へ。
    </h2>
    <p class='service-explain'>
      およそ20~40年の耐用年数があると言われるゴルフクラブ。
    </p>
    <p class='service-explain'>
      しかしゴルファーの平均使用頻度は2〜3ヶ月に1回程度。
    </p>
    <p class='service-explain'>
      お持ちのクラブを貸し出し、再資産化をしてみませんか？
    </p>
  </div>

  <div class="jump-btn">
  <%= link_to image_tag("clubindex.png"),items_itemlist_path,class:"index-btn" %>
  </div>

<div class='select-reason-contents'>
<h2 class='title'>
  ClubBoLの使い方について
</h2>
<ul class='reason-lists'>
  <li class='list'>
    <%= image_tag "furima-intro01.png", class:"list-pict" %>
    <span class='reason-list-number'>1</span>
    <h3 class='reason-list-text'>
      <span class='reason-list-blue-text'>3分</span>
      ですぐにレンタル出品
    </h3>
    <p class='reason-list-description'>
      簡単入力＆選択ですぐに出品できる！
    </p>
  </li>
  <li class='list'>
    <%= image_tag "furima-intro02.png", class:"list-pict" %>
    <span class='reason-list-number'>2</span>
    <h3 class='reason-list-text'>
      <span class='reason-list-blue-text'>都合</span>
      に合わせて出品できる！
    </h3>
    <p class='reason-list-description'>
      手渡しor配送、貸し出し期間の調整も自由自在！
    </p>
  </li>
  <li class='list'>
    <%= image_tag "furima-intro03.png", class:"list-pict" %>
    <span class='reason-list-number'>3</span>
    <h3 class='reason-list-text'>
      手数料
      <span class='reason-list-blue-text'>業界最安</span>
    </h3>
    <p class='reason-list-description'>
      10%でお得に出品&購入！
    </p>
  </li>
</ul>
</div>

<div class='ad-contents'>
<h2 class='ad-explain'>
  ClubBoLは個人間のクラブレンタルを通じ
</h2>
<p class='ad-explain'>
  皆様のクラブの再資産化を応援すると共に
</p>
<p class='ad-explain'>
  気軽にゴルフクラブを手に取れる手段を増やすことで
</p>
<p class='ad-explain'>
  ゴルフプレイヤーの増加、業界活性化を目指しています。
</p>
</div>

<div class='feature-contents'>
<h2 class='title'>
  こんな方に使ってほしい
</h2>
<ul class='feature-lists'>
  <li class='list'>
    <%= image_tag "furima-intro04.png", class:"list-pict" %>
    <h3 class='feature-list-text'>
      あまり使ってないクラブがある
    </h3>
    <p class='feature-list-description'>
      PCひとつで、いつでもどこでも簡単に出品できます！取り下げも自由！
    </p>
  </li>
  <li class='list'>
    <%= image_tag "furima-intro05.png", class:"list-pict" %>
    <h3 class='feature-list-text'>
      買い替え検討用に試打したい方
    </h3>
    <p class='feature-list-description'>
      ショップにないクラブを試打したい…そんな時にピッタリ！
    </p>
  </li>
  <li class='list'>
    <%= image_tag "furima-intro06.png", class:"list-pict" %>
    <h3 class='feature-list-text'>
      ゴルフ仲間を増やしたい
    </h3>
    <p class='feature-list-description'>
      貸出は原則手渡し！思わぬ仲間に出会えるかも？
    </p>
  </li>
</ul>
</div>

<%= link_to(new_item_path, class: 'purchase-btn') do %>
  <span class='purchase-btn-text'>貸し出す</span>
  <%= image_tag 'icon_camera.png' , size: '185x50' ,class: "purchase-btn-icon" %>
<% end %>
<%= render "shared/footer" %>