<%= render "shared/header" %>
<div class='main'>

  <div class='title-contents'>
    <h2 class='service-title'>
      ―ゴルフクラブはリユースの時代へ。
    </h2>
    <div class='service-explain-box'>
      <p class='service-explain'>
        およそ20~40年の耐用年数があると言われるゴルフクラブ。
      </p>
      <p class='service-explain'>
        しかしゴルファーの平均使用頻度は2〜3ヶ月に1回程度。
      </p>
      <p class='service-explain'>
        お持ちのクラブを貸し出し、再資産化をしてみませんか？
      </p>
    </div>
  </div>

  <div class="jump-btn">
  <%= link_to image_tag("clubindex.png"),items_itemlist_path,class:"index-btn" %>
  </div>

<div class="flex">
    <%= image_tag "furima-intro04.png", class:"list-pict1" %>
    <p>テキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキスト</p>
</div>
<div class="flex">
    <%= image_tag "furima-intro04.png", class:"list-pict1" %>
    <p>テキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキスト</p>
</div>
<div class="flex">
    <%= image_tag "furima-intro04.png", class:"list-pict1" %>
    <p>テキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキスト</p>
</div>


<div class='ad-contents'>
<h2 class='ad-explain'>
  ClubBoLは個人間のクラブレンタルを通じ
</h2>
<p class='ad-explain'>
  皆様のクラブの再資産化を応援すると共に
</p>
<p class='ad-explain'>
  気軽にゴルフクラブを手に取れる手段を増やすことで
</p>
<p class='ad-explain'>
  ゴルフプレイヤーの増加、業界活性化を目指しています。
</p>
</div>

<div class='feature-contents'>
<h2 class='title'>
  こんな方に使ってほしい
</h2>
<div class="flex">
    <%= image_tag "furima-intro04.png", class:"list-pict1" %>
    <p>テキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキスト</p>
</div>
<div class="flex">
    <%= image_tag "furima-intro04.png", class:"list-pict1" %>
    <p>テキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキスト</p>
</div>
<div class="flex">
    <%= image_tag "furima-intro04.png", class:"list-pict1" %>
    <p>テキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキスト</p>
</div>
</div>

<%= link_to(new_item_path, class: 'purchase-btn') do %>
  <span class='purchase-btn-text'>貸し出す</span>
  <%= image_tag 'icon_camera.png' , size: '185x50' ,class: "purchase-btn-icon" %>
<% end %>
<%= render "shared/footer" %>