  <%= render "shared/header" %>
  
  <div class='item-contents'>
    <h2 class='title'>現在出品中のクラブ一覧</h2>
    <p> お探しのアイテムが見つかりませんか？</p>

  <div class="jump-btn">
    <%= link_to image_tag("club-search-icon.png"),items_searchbranch_path %>
  </div>

    <ul class='item-lists'>
    <% @items.each do |item| %>
      <li class='list'>
        <%= link_to item_path(item.id) do %>
        <div class='item-img-content'>
          <%= image_tag item.image, class: "item-img" %>

          <% if item.order.present? %>
            <div class='sold-out'>
              <span><%= image_tag "soldout-icon.png", class:"status-showlist" %></span>
            </div>
          <% else %>
            <div class='now-on-sale'>
              <span><%= image_tag "nowonsale-icon.png", class:"status-showlist" %></span>
            </div>
          <% end %>
        </div>


        <div class='item-info'>
          <h3 class='item-name'>
            <%= item.name %>
          </h3>
          <div class='item-price'>
            <span><%= item.daily_price %>円</span>
            <div class='star-btn'>
              <%= image_tag "star.png", class:"star-icon" %>
              <span class='star-count'>0</span>
            </div>
          </div>
        </div>
        <% end %>
    <% end %>
  </li>
  </ul>

  <%= link_to(new_item_path, class: 'purchase-btn') do %>
  <span class='purchase-btn-text'>貸し出す</span>
  <%= image_tag 'icon_camera.png' , size: '185x50' ,class: "purchase-btn-icon" %>
<% end %>

<%= render "shared/footer" %>