<%= render "shared/second-header" %>

<div class="items-sell-contents">
  <div class="items-sell-main">
    <h2 class="items-sell-title">商品の情報を入力</h2>
    <%= form_with(model: @item, local: true ) do |f| %>

    <%= render 'shared/error_messages', model: f.object %>


    <div class="img-upload">
      <div class="weight-bold-text">
        出品画像
        <span class="indispensable">必須</span>
      </div>
      <div class="click-upload">
        <p>
          クリックしてファイルをアップロード
        </p>
        <%= f.file_field :image, id:"item-image" %>
      </div>
    </div>
      <div class="weight-bold-text"> 
        商品名(40文字以内)
        <span class="indispensable">必須</span>
      </div>
      <%= f.text_area :name, class:"items-text", id:"item-name", placeholder:"Taylormadeドライバー", maxlength:"40" %>

    <div class="new-items">
      <div class="weight-bold-text"> 
        商品の説明(1000文字以内)
        <span class="indispensable">必須</span>
      </div>
      <%= f.text_area :comment, class:"items-text", id:"item-info", placeholder:"例：TaylorMade 2007年製のR7 #A~#5のアイアンセットです。",rows:"7" ,maxlength:"1000" %>
      <div class="items-explain">
        <div class="weight-bold-text">
        注意事項(1000文字以内)
          <span class="indispensable">必須</span>
        </div>
        <%= f.text_area :precaution, class:"items-text", id:"item-precaution", placeholder:"例：多少のサビあり。7番アイアンはグリップに多少のスレあり。" ,rows:"7" ,maxlength:"1000" %>
      </div>
    </div>
 
    <div class="new-items">
      <div class="form">
       <div class="weight-bold-text">
          メンズorレディース
          <span class="indispensable">必須</span>
        </div>
        <%= f.collection_select(:gender_id,Gender.all, :id, :name, {}, {class:"select-box", id:"item-gender"}) %>
      </div>
      </div>
      <div class="weight-bold-text">
        カテゴリー
        <span class="indispensable">必須</span>
      </div>
        <div class="label-checkbox-notsearch">
          <%= f.collection_check_boxes(:category_ids,Category.all , :id, :category_name, {}, {class:"category-select" }) %>
        </div>

    <div class="new-items">
      <div class="weight-bold-text question-text">
      </div>
      <div class="form">
      <div class="weight-bold-text">
          貸し出し終了日
          <span class="indispensable">任意</span>
      </div>
      <%= raw sprintf(
                  f.date_select(
                    :due_date,
                    id:"due_date",
                    use_month_numbers: true,
                    prompt:'--',
                    start_year: Time.now.year,
                    end_year: (Time.now.year + 5),
                    date_separator: '%s'),
                  "年", "月") + "日" %>
    </div>
    <div class="new-items">
        <div class="weight-bold-text">
          最低貸出期間
        <span class="indispensable">必須</span>
        </div>
        <%= f.collection_select(:minimum_period,MinimumPeriod.all, :id, :name, {}, {class:"select-box", id:"item-minimum-period"}) %>
    </div>


    <div class="new-items">
      <div class="weight-bold-text">
        レンタル価格
        <span class="indispensable">必須</span>
      </div>
        <div class="price-content">
          <%= f.text_field :daily_price, class:"price-input", id:"item-daily-price", placeholder:"例）300" %>円
        </div>
    </div>

    <div class="caution">
      <p class="sentence">
        <p>極度の破損または、使用に危険が伴う状態のクラブを</p>
        <p>レンタル出品する事はご遠慮ください。</p>
        <p>尚、ゴルフ用品以外の商品出品は固く禁止させていただいております。</p>
      </p>
    </div>
    
    <div class="sell-btn-contents">
      <%= f.submit "出品する" ,class:"sell-btn" %>
      <%=link_to 'もどる', root_path, class:"back-btn" %>
    </div>
 
  </div>
  <% end %>

</div>

<%= render "shared/footer" %>