<%= render "shared/header" %>

<div class="item-show">
  <div class="item-box">
    <h2 class="name">
      <%= @item.name %>
    </h2>
    <div class="item-img-content">
      <%= image_tag @item.image,class:"item-box-img" %>
    </div>
    <div class="item-rental-status">
     <% if @item.order.present? %> 
      <span>
        <%= image_tag "soldout-icon.png", class:"status-show" %>
      </span>
     <% else %>
      <span>
        <%= image_tag "nowonsale-icon.png", class:"status-show" %>
      </span>
     <% end %>

    <div class="item-price-box">
      <span class="item-price">
        <%= @item.daily_price %>円 / 日
      </span>
      <span class="item-postage">
        出品地域（県）：<%= @item.user.prefecture.name %>
      </span>
      <span class="item-postage">
        出品地域（市）：<%= @item.user.address_city %>
      </span>
      <span class="item-postage">
        貸出終了日：<%= @item.due_date %>
      </span>
    </div>
  </div>

    <% if user_signed_in? && @item.order.blank? %>
      <% if current_user.id == @item.user_id %>
        <%= link_to "レンタル品の編集", edit_item_path, method: :get, class: "item-red-btn" %>
        <p class="or-text">or</p>
        <%= link_to "レンタル品の削除", item_path(@item.id), method: :delete, class:"item-destroy" %>
      <% else %>
         <%= link_to "レンタル画面に進む", item_orders_path(@item.id),class:"item-red-btn"%>
      <% end %>
    <% end %>

    <div class="item-explain-box">
      <span><%= @item.comment %></span>
    </div>
    <table class="detail-table">
      <tbody>
        <tr>
          <th class="detail-item">出品者</th>
          <td class="detail-value"><%= @item.user.nickname %></td>
        </tr>
        <tr>
          <th class="detail-item">商品説明</th>
          <td class="detail-value"><%= @item.comment %></td>
        </tr>
        <tr>
          <th class="detail-item">注意事項</th>
          <td class="detail-value"><%= @item.precaution %></td>
        </tr>
        <tr>
          <th class="detail-item">クラブ種別</th>
          <td class="detail-value"><%= @item.gender.name %></td>
        </tr>
        <tr>
          <th class="detail-item">クラブカテゴリー</th>
          <td class="detail-value">
            <% @item.categories.each do |category| %>
              <%= category.category_name %>
            <% end %>
          </td>
        </tr>
        <tr>
          <th class="detail-item">最低貸出期間</th>
          <td class="detail-value"><%= @minimum_p_name %></td>
        </tr>
      </tbody>
    </table>
    <div class="option">
      <div class="favorite-btn">
        <%= image_tag "star.png" ,class:"favorite-star-icon" ,width:"20",height:"20"%>
        <span>お気に入り 0</span>
      </div>
      <div class="report-btn">
        <%= image_tag "flag.png" ,class:"report-flag-icon" ,width:"20",height:"20"%>
        <span>不適切な商品の通報</span>
      </div>
    </div>
  </div>

  <div class="comment-box">
    <form>
      <textarea class="comment-text"></textarea>
      <p class="comment-warn">
        相手のことを考え丁寧なコメントを心がけましょう。
        <br>
        不快な言葉遣いなどは利用制限や退会処分となることがあります。
      </p>
      <button type="submit" class="comment-btn">
        <%= image_tag "comment.png" ,class:"comment-flag-icon" ,width:"20",height:"25"%>
        <span>コメントする<span>
      </button>
    </form>
  </div>


</div>

<%= render "shared/footer" %>
